sup {
     font-size: 70%;
     vertical-align: top;
}

.biblija_lay {
      visibility: hidden; 
      background:#FFFFFF;
      border:1px double #000000;
      color:#000000;
      font-size:90%;
      font-style:normal;
      font-variant:normal;
      font-weight:normal;
      letter-spacing:normal;
      line-height:normal;
      margin:0px;
      opacity:0.9;
      overflow:visible;
      padding:10px;
      text-align:left;
      text-indent:0pt;
      text-transform:none;
      vertical-align:baseline;
      position: absolute;
      visibility:hidden;
      width:300px;
      word-spacing:normal;
}
